.App {
  text-align: center;
  width: 400px;
  height: 80px;
  background-color: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffc2d1;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.navigation {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}

.navigation button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}

.navigation .left-triangle {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid #d676a4; /* Arrow color */
  outline: none;
  cursor: pointer;
}

.navigation .right-triangle {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #d676a4; /* Arrow color */
  outline: none;
  cursor: pointer;
}

.navigation .left-triangle:active{
  border-right-color: #963d74;
}


.navigation .right-triangle:active {
  border-left-color: #963d74;
}

.product-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 40px;
}

.product-image {
  padding-left: 30px;
}

.product-name {
  color: #000000;
  font-size: 20px;
  margin: 40px 0;
  text-align: left;
  padding-left: 10px;
}

.price-drop {
  color: #000000;
  font-size: 20px;
  margin: 20px 0;
  text-align: left;
  padding-left: 10px;
}

.product-id {
  color: #000000;
  font-size: 20px;
  margin: 20px 0;
  text-align: left;
  padding-left: 10px;
  padding-right: 30px;
}


